build/*
graphs/*
.vscode/*
lib/contrib/mjkey.txt
lib/contrib/lib*
*__pycache__*
*.pyc
*.csv
*.gif

config/envs/*
config/tasks/*

!config/envs/*.default.yaml
!config/tasks/*.default.yaml

train_configs/dataset/*
train_configs/optimizer/*
train_configs/topologies/*

!train_configs/dataset/*.default.yaml
!train_configs/optimizer/*.default.yaml
!train_configs/topologies/*.default.yaml

*ipynb*
*bags*
*.rar*

*learnerTests*
scripts/src/models/bluerov2
tensorboard/*

scripts/bluerov_hist/*
torch-training/*

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build

libtorch*
