build/*
graphs/*
.vscode/*
lib/contrib/mjkey.txt
lib/contrib/lib*
*__pycache__*
*.pyc
*.csv
*.gif

config/envs/*
config/tasks/*

!config/envs/*.default.yaml
!config/tasks/*.default.yaml

*ipynb*
*bags*
*.rar*

*data*
*learnerTests*
scripts/src/models/bluerov2
tensorboard/*
scripts/bluerov_hist
