build/*
graphs/*
.vscode/*
lib/contrib/mjkey.txt
lib/contrib/lib*
*__pycache__*
*.pyc
*.csv
*.gif

config/envs/*
config/tasks/*

!config/envs/*.default.yaml
!config/tasks/*.default.yaml

train_configs/dataset/*
train_configs/optimizer/*
train_configs/topologies/*

!train_configs/dataset/*.default.yaml
!train_configs/optimizer/*.default.yaml
!train_configs/topologies/*.default.yaml

*ipynb*
*bags*
*.rar*

*learnerTests*
scripts/src/models/bluerov2
tensorboard/*

scripts/bluerov_hist/*
torch-training/*
data_train/*

comparaison*
rnn-auv-log*