absl-py==1.2.0
actionlib==1.12.1
alabaster==0.7.12
angles==1.9.12
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
astunparse==1.6.3
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
bagpy==0.4.10
beautifulsoup4==4.11.1
bitstring==3.1.9
bleach==5.0.1
bondpy==1.8.5
cachetools==5.2.0
camera_calibration==1.15.2
camera_calibration_parsers==1.11.13
catkin==0.7.29
catkin-pkg==0.5.2
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.0
click==8.1.3
cloudpickle==2.1.0
commonmark==0.9.1
controller_manager==0.18.4
controller_manager_msgs==0.18.4
cpprb==10.6.4
cv_bridge==1.13.1
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
diagnostic_analysis==1.9.7
diagnostic_common_diagnostics==1.9.7
diagnostic_updater==1.9.7
distro==1.7.0
dm-tree==0.1.7
docutils==0.19
dynamic_reconfigure==1.6.5
dynamixel_sdk==3.7.51
entrypoints==0.4
executing==0.10.0
fastjsonschema==2.16.1
flatbuffers==1.12
fonttools==4.35.0
gast==0.4.0
gazebo_plugins==2.8.7
gazebo_ros==2.8.7
gencpp==0.6.6
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.17
gennodejs==2.0.1
genpy==0.6.16
ghp-import==2.1.0
gnupg==2.3.1
google-auth==2.10.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
h5py==3.7.0
idna==3.3
image_geometry==1.13.1
imagesize==1.4.1
importlib-metadata==4.12.0
interactive-markers==1.11.5
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.2
joint_state_publisher==1.12.15
joint_state_publisher_gui==1.12.15
json5==0.9.9
jsonschema==4.10.0
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyterlab==3.4.5
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
kdl-parser-py==1.13.3
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
laser_geometry==1.6.7
libclang==14.0.6
lxml==4.9.1
m2r2==0.3.3
manifpy @ file:///home/conda/feedstock_root/build_artifacts/manif-split_1646072482177/work
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.5
mergedeep==1.3.4
message_filters==1.14.13
mistune==0.8.4
mkdocs==1.3.1
nbclassic==0.4.3
nbclient==0.6.6
nbconvert==6.5.3
nbformat==5.4.0
nest-asyncio==1.5.5
notebook==6.4.12
notebook-shim==0.1.0
numpy==1.23.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.0
onnx==1.12.0
-e git+https://github.com/onnx/onnx-tensorflow.git@f9ebc35dba8a9555112a8d0b84f5a3d51278cca9#egg=onnx_tf
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py3rosmsgs==1.18.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodomex==3.15.0
pydash==5.1.0
Pygments==2.13.0
pymdown-extensions==9.5
pyparsing==3.0.9
pypose==0.2.1
pyrsistent==0.18.1
pyserial==3.5
python-dateutil==2.8.2
python_qt_binding==0.4.4
pytz==2022.2.1
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq==23.2.1
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
recommonmark==0.7.1
requests==2.28.1
requests-oauthlib==1.3.1
resource_retriever==1.12.7
rinoh-typeface-dejavuserif==0.1.3
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.5.4
rosbag==1.14.13
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.13
roslaunch==1.14.13
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.13
rosmake==1.14.9
rosmaster==1.14.13
rosmsg==1.14.13
rosnode==1.14.13
rosparam==1.14.13
rospkg==1.4.0
rospy==1.14.13
rosserial_arduino==0.8.0
rosserial_client==0.8.0
rosserial_python==0.8.0
rosservice==1.14.13
rostest==1.14.13
rostopic==1.14.13
rosunit==1.14.9
roswtf==1.14.13
rqt-image-view==0.4.17
rqt-moveit==0.5.10
rqt-reconfigure==0.5.4
rqt-robot-monitor==0.5.14
rqt-rviz==0.7.0
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_console==0.4.9
rqt_dep==0.4.9
rqt_graph==0.4.11
rqt_gui==0.5.3
rqt_gui_py==0.5.3
rqt_launch==0.4.8
rqt_logger_level==0.4.8
rqt_msg==0.4.8
rqt_nav_view==0.5.7
rqt_plot==0.4.13
rqt_pose_view==0.5.8
rqt_publisher==0.4.8
rqt_py_common==0.5.3
rqt_py_console==0.4.8
rqt_robot_dashboard==0.5.7
rqt_robot_steering==0.5.10
rqt_runtime_monitor==0.5.7
rqt_service_caller==0.4.8
rqt_shell==0.4.9
rqt_srv==0.4.8
rqt_tf_tree==0.6.0
rqt_top==0.4.8
rqt_topic==0.4.11
rqt_web==0.4.8
rsa==4.9
rviz==1.13.29
scipy==1.9.0
seaborn==0.11.2
Send2Trash==1.8.0
sensor-msgs==1.12.8
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smach==2.0.1
smach_ros==2.0.1
smclib==1.8.5
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==3.2.1
sphinx-autodoc-typehints==1.4.0
sphinx-bootstrap-theme==0.8.1
sphinx-markdown-parser==0.2.4
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.4.0
tabulate==0.8.10
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-addons==0.17.1
tensorflow-estimator==2.9.0
tensorflow-gpu==2.9.1
tensorflow-graphics-gpu==1.0.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-probability==0.17.0
termcolor==1.1.0
terminado==0.15.0
tf==1.12.1
tf2_geometry_msgs==0.6.5
tf2_kdl==0.6.5
tf2_py==0.6.5
tf2_ros==0.6.5
tf_conversions==1.12.1
tinycss2==1.1.1
topic_tools==1.14.13
torch==1.12.1
torchvision==0.13.1
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
typeguard==2.13.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
unify==0.5
untokenize==0.1.1
urdfdom-py==0.4.6
urllib3==1.26.11
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.2.2
wrapt==1.14.1
xacro==1.13.19
yapf==0.32.0
ytsphinx==1.2.1.dev20200430
zipp==3.8.1
