absl-py==1.4.0
action-msgs==1.2.1
action-tutorials-interfaces==0.20.3
action-tutorials-py==0.20.3
actionlib-msgs==4.2.3
ament-cmake-test==1.3.5
ament-copyright==0.12.6
ament-cppcheck==0.12.6
ament-cpplint==0.12.6
ament-flake8==0.12.6
ament-index-python==1.4.0
ament-lint==0.12.6
ament-lint-cmake==0.12.6
ament-package==0.14.0
ament-pep257==0.12.6
ament-uncrustify==0.12.6
ament-xmllint==0.12.6
angles==1.15.0
astroid==2.15.5
astunparse==1.6.3
attrs==23.1.0
builtin-interfaces==1.2.1
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.4
cmake==3.26.3
coloredlogs==15.0.1
composition-interfaces==1.2.1
contourpy==1.0.7
cuda-python==12.2.0
cv-bridge==3.2.1
cycler==0.11.0
Cython==0.29.36
demo-nodes-py==0.20.3
diagnostic-msgs==4.2.3
diagnostic-updater==3.1.2
dill==0.3.6
domain-coordinator==0.10.0
example-interfaces==0.9.3
examples-rclpy-executors==0.15.1
examples-rclpy-minimal-action-client==0.15.1
examples-rclpy-minimal-action-server==0.15.1
examples-rclpy-minimal-client==0.15.1
examples-rclpy-minimal-publisher==0.15.1
examples-rclpy-minimal-service==0.15.1
examples-rclpy-minimal-subscriber==0.15.1
filelock==3.12.0
flatbuffers==23.5.26
fonttools==4.39.4
fsspec==2023.5.0
geometry-msgs==4.2.3
google-auth==2.19.1
google-auth-oauthlib==1.0.0
grpcio==1.54.2
hidet==0.2.4
huggingface-hub==0.15.1
humanfriendly==10.0
idna==3.4
image-geometry==3.2.1
importlib-metadata==6.6.0
importlib-resources==5.12.0
iniconfig==2.0.0
interactive-markers==2.3.2
isort==5.12.0
Jinja2==3.1.2
kiwisolver==1.4.4
lark==1.1.5
laser-geometry==2.4.0
launch==1.0.4
launch-ros==0.19.4
launch-testing==1.0.4
launch-testing-ros==0.19.4
launch-xml==1.0.4
launch-yaml==1.0.4
lazy-object-proxy==1.9.0
lifecycle-msgs==1.2.1
lit==16.0.5.post0
logging-demo==0.20.3
map-msgs==2.1.0
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib==3.7.1
mccabe==0.7.0
mdurl==0.1.2
message-filters==4.3.3
mpmath==1.3.0
nav-msgs==4.2.3
netron==7.0.0
networkx==3.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
nvtx==0.2.5
oauthlib==3.2.2
onnx==1.14.0
onnxconverter-common==1.13.0
onnxoptimizer==0.3.13
onnxruntime-gpu==1.15.0
onnxsim==0.4.30
osrf-pycommon==2.0.2
packaging==23.1
pandas==2.0.1
pcl-msgs==1.0.0
pendulum-msgs==0.20.3
Pillow==9.5.0
platformdirs==3.8.0
pluggy==1.0.0
protobuf==4.23.2
psutil==5.9.5
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
Pygments==2.15.1
pylint==2.17.4
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
python-qt-binding==1.1.1
--extra-index-url https://download.pytorch.org/whl/nightly/cu121
pytorch-triton==2.1.0+440fd1bf20
pytz==2023.3
PyYAML==6.0
qt-dotgraph==2.2.2
qt-gui==2.2.2
qt-gui-cpp==2.2.2
qt-gui-py-common==2.2.2
quality-of-service-demo-py==0.20.3
rcl-interfaces==1.2.1
rclpy==3.3.8
rcutils==5.1.3
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
resource-retriever==3.1.1
rich==13.4.1
rmw-dds-common==1.6.0
ros2action==0.18.6
ros2bag==0.15.6
ros2cli==0.18.6
ros2component==0.18.6
ros2doctor==0.18.6
ros2interface==0.18.6
ros2launch==0.19.4
ros2lifecycle==0.18.6
ros2multicast==0.18.6
ros2node==0.18.6
ros2param==0.18.6
ros2pkg==0.18.6
ros2run==0.18.6
ros2service==0.18.6
ros2topic==0.18.6
rosbag2-interfaces==0.15.6
rosbag2-py==0.15.6
rosbag2-storage-mcap-testdata==0.15.6
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.4
rosidl-cli==3.1.4
rosidl-cmake==3.1.4
rosidl-generator-c==3.1.4
rosidl-generator-cpp==3.1.4
rosidl-generator-py==0.14.4
rosidl-parser==3.1.4
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.0
rosidl-typesupport-cpp==2.0.0
rosidl-typesupport-fastrtps-c==2.2.0
rosidl-typesupport-fastrtps-cpp==2.2.0
rosidl-typesupport-introspection-c==3.1.4
rosidl-typesupport-introspection-cpp==3.1.4
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.4
rqt-bag-plugins==1.1.4
rqt-console==2.0.2
rqt-graph==1.3.0
rqt-gui==1.1.5
rqt-gui-py==1.1.5
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.5
rqt-py-console==1.0.2
rqt-reconfigure==1.1.1
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rsa==4.9
scipy==1.10.1
sensor-msgs==4.2.3
sensor-msgs-py==4.2.3
shape-msgs==4.2.3
six==1.16.0
sros2==0.10.4
statistics-msgs==1.2.1
std-msgs==4.2.3
std-srvs==4.2.3
stereo-msgs==4.2.3
sympy==1.12
tabulate==0.9.0
teleop-twist-keyboard==2.3.2
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tf-transformations==1.0.0
tf2-geometry-msgs==0.25.2
tf2-kdl==0.25.2
tf2-msgs==0.25.2
tf2-py==0.25.2
tf2-ros-py==0.25.2
tf2-tools==0.25.2
theora-image-transport==2.5.0
tokenizers==0.13.3
tomli==2.0.1
tomlkit==0.11.8
topic-monitor==0.20.3
--extra-index-url https://download.pytorch.org/whl/nightly/cu121
torch==2.1.0.dev20230709+cu121
torchaudio==2.1.0.dev20230709+cu121
torchvision==0.16.0.dev20230709+cu121
tqdm==4.65.0
trajectory-msgs==4.2.3
transformers==4.29.2
triton==2.0.0
turtlesim==1.4.2
typing_extensions==4.6.3
tzdata==2023.3
unique-identifier-msgs==2.2.1
urllib3==1.26.16
visualization-msgs==4.2.3
Werkzeug==2.3.4
wrapt==1.15.0
xacro==2.0.8
zipp==3.15.0
